body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--success-color);
  --bs-btn-border-color: var(--success-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #146c43;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #006b39;
  --bs-btn-active-border-color: #006b39;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--success-color);
  --bs-btn-disabled-border-color: var(--success-color);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--btn-primary-color);
  --bs-btn-border-color: var(--btn-primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--btn-primary-color-hover);
  --bs-btn-hover-border-color: var(--btn-primary-color-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--btn-primary-color-active);
  --bs-btn-active-border-color: var(--btn-primary-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--btn-primary-color);
  --bs-btn-disabled-border-color: var(--btn-primary-color);
}

.sidebar {
  position: sticky !important;
  top: 1rem !important;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #212529 !important;
}

.sidebar .nav-link:hover {
  font-weight: 500;
  color: #7d858d !important;
}

.sidebar li {
  list-style-type: none;
}

.sidebar button {
  border: none;
  background-color: transparent !important;
}

.sidebar a {
  border: none;
  text-decoration: none !important;
}

.userbar {
  position: sticky;
  min-width: 100%;
  background-image: none !important;
  background-color: var(--primary-color) !important;
  --bs-navbar-toggler-icon-bg: var(--nav-hamburger);
  box-shadow: rgb(0 0 0 / 50%) 1px 1px 3px !important;
}

.userbar .nav-link {
  font-weight: 600;
  color: var(--nav-text-color);
}

.userbar img {
  min-width: 90px !important;
}

.hero img {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-duration: 1s;
}

.hero img:hover {
  transform: scale(1.15);
}

#hero-anchor {
  position: relative;
  top: -110px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.userbar .nav-link:hover {
  font-weight: 600;
  color: var(--nav-text-color-hover);
}

.hero {
  background-color: var(--primary-color);
  background-image: var(--homepage-primary-bg);
  background-size: cover;
  background-position: 50% 10%;
}

footer {
  background-color: var(--secondary-color);
}

footer .text-muted {
  color: rgb(255, 255, 255) !important;
}

footer h5,
footer p {
  color: white !important;
}

footer .text-muted:hover {
  color: #fff200 !important;
}

.inner-page {
  margin: 2em auto 2em auto;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--success-color) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #dc3545 !important;
}

.share-button {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#whatsapp-share,
#twitter-share,
#facebook-share {
  color: #212529;
}

#facebook-share:hover {
  color: #1877f2;
}

#twitter-share:hover {
  color: #1d9bf0;
}

#whatsapp-share:hover {
  color: #00a85acc;
}

.ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#home-next-events {
  background: var(--homepage-secondary-bg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-page-card {
  transition-duration: 0.5s;
}

.main-page-card:active,
.main-page-card:hover {
  transform: scale(1.05);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-justify {
  text-align: justify;
}

button.input-group-text:hover {
  background-color: #acacad50;
}

button.input-group-text:active {
  background-color: #39393a50;
}

.is-loading {
  background-image: url("https://cbmtb.s3.sa-east-1.amazonaws.com/assets/icons/spinner.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.card-body p {
  margin-bottom: 0;
}

.custom-html table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

@media (min-width: 768px) {
  .sticky-bottom {
    position: fixed;
    bottom: 0;
  }

  .userbar {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.5em;
  }

  .userbar .navigation-list {
    background-color: var(--primary-color);
    padding: 0.25em;
    border-radius: 5px;
  }

  .userbar li {
    font-size: 20px;
    margin: auto 0.5em;
  }

  .userbar li .dropdown-item {
    font-size: 18px;
  }

  #hero-anchor {
    position: relative;
    top: -130px;
  }
}

.form-switch.form-switch-md {
  margin-bottom: 1rem;
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.tox-notifications-container {
  display: none;
}

.accordion-body img {
  max-width: 100%;
  height: auto;
}

.accordion-body table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .mt-lg-5 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 1400px) {
  .userbar img {
    margin-left: 5vw;
  }
}

@media (max-width: 374px) {
  .xxs {
    display: none;
  }
}
