:root {
  /* COLORS */
  --primary-color: #00a859;
  --secondary-color: #1a469e;
  --success-color: #00a859;
  /* NAV */
  --nav-bg-color: #00a85acc;
  --nav-text-color: white;
  --nav-text-color-hover: #fff200;
  --nav-hamburger: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* BUTTONS */
  --btn-primary-color: #2261dd;
  --btn-primary-color-hover: #143880;
  --btn-primary-color-active: #1947a3;
  /* HOME PAGE */
  --homepage-primary-bg: url("https://cbmtb.s3.sa-east-1.amazonaws.com/assets/banner.jfif");
  --homepage-secondary-bg: url("https://cbmtb.s3.sa-east-1.amazonaws.com/assets/eventos-bg.png") !important;
}
